{% extends 'base.html' %}
{% block content %}
<div class="container">


<div class="row">
    <div class="top-buffer">
          <div class="row text-center">
          <h1>Here's the awesome developing team of IdeaBin</h1>
          <h4>Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.Text here.</h4>
          </div>
    </div>


    <hr class="featurette-divider top-buffer">

  <div class="row featurette top-buffer">
        <div class="col-md-7 top-buffer">
          <h2 class="featurette-heading">Shadab Zafar </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

          <ul class="list-inline" style="margin: 35px 0;">
            <li><a href="#"><i class="fa fa-github fa-3x"></i></a></li>
            <li style="margin: 0 30px;"><a href="#"><i class="fa fa-facebook fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>

          </ul>

          <a class="btn btn-success" href="#"><i class="fa fa-flag"></i>       Subscribe</a>

        </div>
        <div class="col-md-5" style="margin-top: 20px">
          <img class="featurette-image img-responsive" src="https://avatars1.githubusercontent.com/u/1449512?v=2&s=400" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider top-buffer">

      <div class="row featurette">
        <div class="col-md-5" style="margin-top: 20px">
          <img class="featurette-image img-responsive" src="https://avatars2.githubusercontent.com/u/2520893?v=2&s=400" >
        </div>
        <div class="col-md-7 top-buffer">
          <h2 class="featurette-heading">Shivam Rana </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

          <ul class="list-inline" style="margin: 35px 0;">
            <li><a href="#"><i class="fa fa-github fa-3x"></i></a></li>
            <li style="margin: 0 30px;"><a href="#"><i class="fa fa-facebook fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
          </ul>
          <a class="btn btn-success" href="#"><i class="fa fa-flag"></i>       Subscribe</a>
        </div>
      </div>

      <hr class="featurette-divider top-buffer">

      <div class="row featurette">
        <div class="col-md-7 top-buffer">
          <h2 class="featurette-heading">Prerit Garg </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

          <ul class="list-inline" style="margin: 35px 0;">
            <li><a href="#"><i class="fa fa-github fa-3x"></i></a></li>
            <li style="margin: 0 30px;"><a href="#"><i class="fa fa-facebook fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
          </ul>
          <a class="btn btn-success" href="#"><i class="fa fa-flag"></i>       Subscribe</a>

        </div>
        <div class="col-md-5" style="margin-top: 20px">
          <img class="featurette-image img-responsive" src="https://avatars3.githubusercontent.com/u/5612204?v=2&s=400" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider top-buffer">
  </div>
</div>

{% endblock %}
